<h1><%= "「#{current_user.name}」のタスク一覧" %></h1>


<%= form_with url: tasks_path, scope: :task, method: :get, local: true do |form| %>
  <div class='form-group', class='row'>
    <%= form.label :name_cont, '検索ボックス', class: 'col-sm2 col-form-label' %>
    <%= form.text_field :search, class: 'form-control' %>
    <%= form.select :status, Task.statuses.keys, class: 'form-control' %>
  </div>
    <%= form.submit '検索', name: nil, class: 'btn btn-outline-primary' %>
<% end %>

<br>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class:"btn btn-outline-primary", id:"sort_expired" %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true"), class:"btn btn-outline-primary", id:"sort_priority" %>

<div class="mb-3">
  <%= paginate @tasks %>
  <%= page_entries_info @tasks %>
</div>

<div class="mb-3">
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>No(sequence number)</th>
      <th>Name(名前)</th>
      <th>Description（詳細）</th>
      <th>Expired_at（終了期限）</th>
      <th>Created_at(登録日時）</th>
      <th>Status(ステータス)</th>
      <th>Priority(優先度)</th>
      <th>Label</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.expired_at.strftime("%Y年%m月%d日") if task.expired_at.present? %></td>
        <td><%= task.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td>
        <% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
        </td>
        <td></td>
        <td><%= link_to '詳細', task, class:"btn btn-outline-primary" %></td>
        <td><%= link_to '編集', edit_task_path(task), class:"btn btn-outline-success" %></td>
        <td><%= link_to '削除', task, class:"btn btn-outline-danger", method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '新規作成', new_task_path, class:"btn btn-outline-info" %>
