<p>
  <strong>Name(名称):</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description(詳細):</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Expired_at(終了期限):</strong>
  <%= @task.expired_at %>
</p>

<p>
  <strong>Created_at(登録日時）:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Status(ステータス):</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority(優先度):</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Label一覧:</strong>
  <% if @task.labels.present?  %>
    <%= @task.labels.pluck(:name) %>
  <% else %>
    Labelは登録されていません。
  <% end %>
</p>

<%= link_to '編集', edit_task_path(@task), class:"btn btn-outline-info" %> 
<%= link_to '戻る', tasks_path, class:"btn btn-outline-info" %>
