<!DOCTYPE html>
<html>
  <head>
    <title>Work1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-light bg-light"></div>
    <div class="navbar-brand"></div>
    <div class="container"></div>    

    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item"><%= link_to "task一覧", tasks_path, class:"nav-link" %></li>
        <% if current_user.admin? %>
          <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class:"nav-link" %></li>
        <% end %>
        <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class:"nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "ログイン", login_path, class:"nav-link" %></li>
      <% end %>
    </ul>

    <% if flash.notice.present? %>
      <p class="alert alert-success" role="alert"><%= flash.notice %></p>
  　<% end %>

    <%= yield %>

  </body>
</html>
